streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-groq
langchain-huggingface
langgraph
chromadb
sentence-transformers
torch
torchvision
python-dotenv
pypdf
docx2txt
python-docx
pandas
openpyxl