LLM_PROVIDER = "groq"
EMBEDDING_PROVIDER = "huggingface"

GROQ_API_KEY = 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
GROQ_MODEL = "llama-3.3-70b-versatile"

HUGGINGFACE_EMBEDDING_MODEL = "sentence-transformers/all-MiniLM-L6-v2"

LLM_PROVIDER=groq
EMBEDDING_PROVIDER=huggingface

CHROMA_PERSIST_DIRECTORY=vector_db/huggingface
CHROMA_COLLECTION_NAME=enterprise_knowledge_hf